
@{
    ViewBag.Title = "BirthDayInMonth";
    Layout = "~/Views/Shared/sbadmin.cshtml";
}


<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Thống Kê</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3" style=" display: flex; justify-content: space-between; align-items: center;">
        <div class="left-content">
            <h6 class="m-0 font-weight-bold text-primary" style="color: #19315D ">Thống Kê Danh Sách Hội Viên Có Sinh Nhật Trong Tháng</h6>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <div id="filter-fade" class="d-none selectdiv">
                <select class="select-sort form-select d-inline mr-2" id="dropdown-filter">
                    <option value="-1">Tất Cả</option>
                    <option value="1">Tháng 1</option>
                    <option value="2">Tháng 2</option>
                    <option value="3">Tháng 3</option>
                    <option value="4">Tháng 4</option>
                    <option value="5">Tháng 5</option>
                    <option value="6">Tháng 6</option>
                    <option value="7">Tháng 7</option>
                    <option value="8">Tháng 8</option>
                    <option value="9">Tháng 9</option>
                    <option value="10">Tháng 10</option>
                    <option value="11">Tháng 11</option>
                    <option value="12">Tháng 12</option>
                </select>
            </div>
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Tên Đơn Vị
                        </th>
                        <th>
                            Thời Gian Thành Lập
                        </th>
                    </tr>
                </thead>
                <tbody>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="column-2">
                                @item.TenTiengViet
                            </td>
                            <td>
                                @item.NgayThanhLap.ToString("dd/MM/yyyy")
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">

        $(function () {
            $('#dataTable_filter').prepend($('#dropdown-filter')).clone();
            $('#filter-fade').remove();

            $('#dropdown-filter').val(@ViewBag.filterId);

            $('#dropdown-filter').on('change', function () {
                const id = $(this).val();
                var url = '@Url.Action("BirthDayInMonth", "Statistic", new { id = "__id__" })';
                window.location.href = url.replace('__id__', id);
            })
        })

    </script>
}


