
@{ 
   ViewBag.Title = "DetailActivitysJoined";
   Layout = "~/Views/Shared/sbadmin.cshtml"; 
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Thống Kê</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3" style=" display: flex; justify-content: space-between; align-items: center;">
        <div class="left-content">
            <h6 class="m-0 font-weight-bold text-primary" style="color: #19315D ">Danh Sách Các Hoạt Động (TenCongTy) Đã Tham Gia</h6>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>
                            Tên Các Hoạt Động Đã Tham Gia
                        </th>
                    </tr>
                </thead>
                <tbody>

                    <tr>
                        <td>
                            Hội Nghị Thành Phố Thông Minh
                        </td>
                    </tr>
                    <tr>
                        <td>
                            Hội Nghị Thành Phố Thông Minh
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>