
@{
    ViewBag.Title = "MemberFee";
    Layout = "~/Views/Shared/sbadmin.cshtml";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Thống Kê</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3" style=" display: flex; justify-content: space-between; align-items: center;">
        <div class="left-content">
            <h6 class="m-0 font-weight-bold text-primary" style="color: #19315D ">Thống Kê Danh Sách Phí Hội Viên</h6>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Tên Hội viên</th>
                        <th>Đã Đóng </th>
                        <th>Còn Nợ</th>
                        <th class="action-column">Chức Năng</th>
                    </tr>
                </thead>
                <tbody>

                    <tr>

                        <td></td>
                        <td>
                        </td>
                        <td>
                        </td>
                        <td class="action" style="display:flex; justify-content:space-around; align-items:center">
                            <li class="action-item" style="list-style-type: none; font-size: 18px">
                                <a href="" class="action-icon">
                                    <i style="color: #F69928" class="fa-solid fa-pen-to-square icon"></i>
                                </a>
                            </li>
                            <li class="action-item" style="list-style-type:none; font-size: 18px">
                                <a href="" class="action-icon" data-toggle="modal" data-target="#myModal">
                                    <i style="color: #F69928" class="fa-solid fa-trash-can icon"></i>
                                </a>
                            </li>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
