
@{
    ViewBag.Title = "MemberFee";
    Layout = "~/Views/Shared/sbadmin.cshtml";
}

<!-- Page Heading -->
<h1 class="h3 mb-2 text-gray-800">Thống Kê</h1>

<!-- DataTales Example -->
<div class="card shadow mb-4">
    <div class="card-header py-3" style=" display: flex; justify-content: space-between; align-items: center;">
        <div class="right-content">
            <h6 class="m-0 font-weight-bold text-primary" style="color: #19315D ">Thống Kê Danh Sách Phí Hội Viên</h6>
        </div>
    </div>
    <div class="card-body">
        <div class="table-responsive">
            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                <thead>
                    <tr>
                        <th>Mã Số Thuế</th>
                        <th>Tên Hội viên</th>
                        <th>Đã Đóng </th>
                        <th>Còn Nợ</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @item.MaSoThue
                            </td>
                            <td>
                                @item.TenCongTy
                            </td>
                            <td>
                                @item.DaDong.ToString("N0")
                            </td>
                            <td>
                                @item.ConLai.ToString("N0")
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
</div>

<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
    </div>
</div>
