@model Vinasa.Models.NguoiNhanGiaiThuong
@using (Html.BeginForm("Delete", "AwardParticipants"))
{
    @Html.AntiForgeryToken()

    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title"></h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Xác nhận xoá doanh nghiệp này khỏi giải thưởng?
        </div>
        <div class="modal-footer">
            @Html.HiddenFor(model => model.Id)
            <input type="hidden" id="giaiThuongId" name="giaiThuongId" value="@ViewBag.GiaiThuongId" />
            <button type="button" class="btn btn-default" data-dismiss="modal">Huỷ</button>
            <input type="submit" class="button-lc" value="Xác Nhận" />
        </div>
    </div>
}
