
@{
    ViewBag.Title = "Detail";
    Layout = "~/Views/Shared/sbadmin.cshtml";
}

<div class="heading">
    @*<h1 class="h3 mb-2 text-gray-800">Hội Nghị</h1>*@
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" onclick="location.href = 'javascript:history.go(-1)'" style="color:blue; cursor:pointer;">Danh sách Giải Thưởng</li>
            <li class="breadcrumb-item active" aria-current="page">Xem thông tin Giải Thưởng</li>
        </ol>
    </nav>
</div>

<div class="container col-11 centerPage">
    <h5 class="heading">Thông Tin Doanh Nghiệp Tham Gia</h5>
    <form class="form-field form-inputs-odd" method="post" enctype="multipart/form-data">
        <div class="input-wrapper">
            <input class="ip-form" type="text" id="tax" contenteditable="true" readonly>
            <label class="lb-form" for="tax">Mã số thuế</label>
        </div>
        <div class="input-wrapper">
            <input class="ip-form" type="text" id="tax" contenteditable="true" readonly>
            <label class="lb-form" for="tax">Tên đơn vị </label>
        </div>
        <div class="input-wrapper">
            <input class="ip-form" type="text" id="tax" contenteditable="true" readonly>
            <label class="lb-form" for="tax">
                Tên người đại diện pháp luật
            </label>
        </div>
        <div class="input-wrapper">
            <input class="ip-form" type="text" id="tax" contenteditable="true" readonly>
            <label class="lb-form" for="tax">
                Chức danh
            </label>
        </div>
        <div class="input-wrapper">
            <input class="ip-form" type="email" id="tax" contenteditable="true" readonly>
            <label class="lb-form" for="tax">
                Email
            </label>
        </div>
        <div class="input-wrapper">
            <input class="ip-form" type="tel" id="tax" contenteditable="true" readonly>
            <label class="lb-form" for="tax">
                Di động
            </label>
        </div>
        <div class="input-wrapper">
            <input class="ip-form" type="text" id="tax" contenteditable="true" readonly>
            <label class="lb-form" for="tax">
                Tên người liên hệ với BTC
            </label>
        </div>
        <div class="input-wrapper">
            <input class="ip-form" type="text" id="tax" contenteditable="true" readonly>
            <label class="lb-form" for="tax">
                Chức danh người liên hệ
            </label>
        </div>
        <div class="input-wrapper">
            <input class="ip-form" type="email" id="tax" contenteditable="true" readonly>
            <label class="lb-form" for="tax">
                Email người liên hệ
            </label>
        </div>
        <div class="input-wrapper">
            <input class="ip-form" type="tel" id="tax" contenteditable="true" readonly>
            <label class="lb-form" for="tax">
                Di động người liên hệ
            </label>
        </div>
        <div class="input-wrapper">
            <input class="ip-form" type="text" id="tax" contenteditable="true" readonly>
            <label class="lb-form" for="tax">
                Tỉnh thành
            </label>
        </div>
        <div class="input-wrapper">
            <input class="ip-form" type="text" id="tax" contenteditable="true" readonly>
            <label class="lb-form" for="tax">
                Địa chỉ
            </label>
        </div>
        <div class="input-wrapper">
            <input class="ip-form" type="text" id="tax" contenteditable="true" readonly>
            <label class="lb-form" for="tax">
                Phiếu đăng ký (link URL)
            </label>
        </div>
        <div class="input-wrapper" style="display:none">
            <input class="ip-form" type="text" id="tax" contenteditable="true" readonly>
            <label class="lb-form" for="tax">
                Địa chỉ
            </label>
        </div>
    </form>
</div>
<div class="button-form f-r">
    <button class="button-lc" onclick="location.href = 'javascript:history.go(-1)'">Quay Lại</button>
</div>
