@model Vinasa.Models.NGUOINHANGIAITHUONG

@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/sbadmin.cshtml";
}

<div class="container col-11 centerPage">
    <h5 class="heading">Cập nhật thông tin doanh nghiệp nhận giải thưởng</h5>
    @using (Html.BeginForm("Edit", "NGUOINHANGIAITHUONG",
         new { ReturnUrl = ViewBag.ReturnUrl },
         FormMethod.Post, new { @class = "form-field" }))
    {
        @Html.AntiForgeryToken()
        @Html.Partial("_CreateOrUpdate", Model);
    }
</div>