
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/sbadmin.cshtml";
}

<div class="container col-11 centerPage">
    <h5 class="heading">Sửa Thông Tin Doanh Nghiệp Tham Gia</h5>
    <form class="form-field form-inputs-odd" method="post" enctype="multipart/form-data" action="@Url.Action("Member")">
        <div class="input-wrapper">
            <input class="ip-form" type="text" id="tax" value="Nguyễn Văn Khoa" contenteditable="true">
            <label class="lb-form" for="tax">
                Họ tên người đại diện
            </label>
        </div>
        <div class="input-wrapper">
            <input class="ip-form" type="text" id="tax" value="Công ty Cổ phần FPT" contenteditable="true">
            <label class="lb-form" for="tax">Tên đơn vị </label>
        </div>
        <div class="input-wrapper">
            <input class="ip-form" type="text" id="tax" value="CEO" contenteditable="true">
            <label class="lb-form" for="tax">
                Chức danh
            </label>
        </div>
        <div class="input-wrapper">
            <input class="ip-form" type="email" id="tax" value="khoa@vinasa.org.vn" contenteditable="true">
            <label class="lb-form" for="tax">
                Email
            </label>
        </div>
        <div class="input-wrapper">
            <input class="ip-form" type="tel" id="tax" value="0789562562" contenteditable="true">
            <label class="lb-form" for="tax">
                Di động
            </label>
        </div>
        <div class="input-wrapper">
            <input class="ip-form" type="number" id="tax" value="2" contenteditable="true">
            <label class="lb-form" for="tax">
                Số lượng học viên
            </label>
        </div>
        <div class="input-wrapper">
            <input type="checkbox">
            <label class="form-check-label">Hội viên Vinasa</label>
        </div>
    </form>
</div>
<div class="button-form f-r">
    <button class="button-cancel" id="cancel">Huỷ</button>
    <button class="button-lc" type="submit" name="save">Xác Nhận</button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

    $('#cancel').click(function () {
        location.href = 'javascript:history.go(-1)';
    })

</script>

