.button {
    height: 40px;
    width: 150px;
    margin: 10px 10px;
    background: #F69928;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
}

.button-form {
    float: right;
    margin-right: 70px;
}

.button:hover {
    background-color: #051D65;
}

.button-lc {
    height: 40px;
    width: 150px;
    margin: 10px 10px;
    background: #F69928;
    color: #fff;
    border: 1px solid #ccc;
    border-radius: 20px;
}

    .button-lc:hover {
        background-color: #051D65;
    }

.icon:hover {
    color: #051D65;
}

.btn-status {
    position: relative;
    left: 50px;
    font-size: 12px;
    font-weight: bold;
    width: 110px;
    padding: 10px;
    background: #F69928;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}
