@model Vinasa.Models.AdminAccountModels
@{
    ViewBag.Title = "CreateAccount";
    Layout = "~/Views/Shared/sbadmin.cshtml";
}

<div class="row">
    <div class="col-6">
        <h5 class="heading">Thêm người dùng mới</h5>
        <form class="form-field" method="post" enctype="multipart/form-data">
            <div class="input-wrapper">
                <input class="ip-form" type="text" id="tax" contenteditable="true" required />
                <label class="lb-form" for="tax">Họ và tên</labelclass="lb-form">
            </div>
            <div class="input-wrapper">
                <input class="ip-form" type="text" contenteditable="true" required />
                <label class="lb-form">Email</label>
            </div>
            <div class="input-wrapper">
                <input class="ip-form" type="text" contenteditable="true" required />
                <label class="lb-form" for="name">Số Điện Thoại</label>
            </div>
            <div class="input-wrapper">
                <input class="ip-form" type="text" contenteditable="true" required />
                <label class="lb-form" for="name">Phòng Ban</label>
            </div>
            <div class="input-wrapper">
                <label class="lb-form" for="name">Quyền</label>
                <select class="form-control select-region" name="type">
                    <option value="none">Quyền</option>

                    <option value="">Quản Lí</option>
                    <option value="">Quản Trị</option>
                </select>
            </div>
            <div class="input-wrapper">
                <label class="lb-form" for="name">Trạng Thái</label>
                <select class="form-control select-region" name="type">
                    <option value="none">Chọn Trạng Thái</option>

                    <option value="">Hoạt Động</option>
                    <option value="">Vô Hiệu</option>

                </select>
            </div>
        </form>
    </div>


</div>
<div class="button-form">
    <button class="button-lc button-cancel" onclick="location.href = 'javascript:history.go(-1)'"">Huỷ</button>
    <button class="button-lc">Xác Nhận</button>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>

     $('#enter').click(function () {
        location.href = "@Url.Action();
    })

</script>