@{
    ViewBag.Tittle = "ImportExcel";
    Layout = "~/Views/Shared/sbadmin.cshtml";
}

@using (Html.BeginForm("ImportExcel", "Member", FormMethod.Post, new
{
    enctype = "multipart/form-data"
}))
{

    <div class="input-form">
        <input class="input-file" type="file" name="UploadedFile" onchange="uploadFile(this)" />
        <button type="submit" name="Submit" value="Submit" class="button">
            <i class="fa fa-upload"></i>
            Tải lên
        </button>
    </div>

}

@if (TempData["Message"] != null)
{
    <p class="alert alert-success" id="successMessage">@TempData["Message"]</p>
}