@model Vinasa.Models.KHOAHOC
@using (Html.BeginForm("Delete", "Course"))
{
    @Html.AntiForgeryToken()
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title">THÔNG BÁO !</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        <div class="modal-body">
            Xác nhận xóa khóa học và tất cả người học của khóa học này ?
        </div>
        <div class="modal-footer">
            @Html.HiddenFor(model => model.Id)
            <button type="button" class="btn btn-default" data-dismiss="modal">Huỷ</button>
            <button class="button-lc">Xác nhận</button>
        </div>
    </div>
}
