
@{
    ViewBag.Title = "Edit";
    Layout = "~/Views/Shared/sbadmin.cshtml";
}

<div class="container">
    <div class="col-6">
        <h5 class="heading">Sửa Thông Tin Khóa Đào Tạo</h5>

        <form class="form-field" method="post" enctype="multipart/form-data">
            <div class="input-wrapper">
                <input class="ip-form" type="text" id="tax" contenteditable="true" value="Nhà đầu tư start-up công nghệ số" />
                <label class="lb-form" for="tax">Tên khóa đào tạo</label>
            </div>
            <div class="input-wrapper">
                <input class="ip-form" type="date" contenteditable="true">
                <label class="lb-form" for="name">Thời gian bắt đầu</label>
            </div>
            <div class="input-wrapper">
                <input class="ip-form" type="date" contenteditable="true">
                <label class="lb-form" for="name">Thời gian kết thúc</label>
            </div>
            <div class="input-wrapper">
                <input class="ip-form" type="text" contenteditable="true" value="Online">
                <label class="lb-form" for="name">Hình thức</label>
            </div>
        </form>
    </div>
    <div class="button-form">
        <button class="button-cancel" onclick="location.href='javascript:history.go(-1)'" type="button" name="cancel">Huỷ</button>
        <button class="button-lc" type="submit" name="save">Xác Nhận</button>
    </div>
</div>

